.filter-pills-container {
  height: 100%; }
  .filter-pills-container div.filter-helpers {
    display: flex;
    width: 100%;
    padding: 10px 0px; }
    .filter-pills-container div.filter-helpers div.btn {
      width: 100%; }
  .filter-pills-container div.filter-pills {
    border: 1px solid black;
    width: 150px;
    float: left;
    margin: 2px;
    transition: .1s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s; }
  .filter-pills-container div.filter-pills:hover {
    cursor: pointer; }
  .filter-pills-container div.filter-pills.active {
    background: #6d3474;
    color: white; }
  .filter-pills-container #CLEAR {
    width: 100%;
    background: #ff0065;
    color: white;
    padding: 4px 0px;
    border-radius: 15px;
    transition: .2s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s; }
  .filter-pills-container #CLEAR:hover {
    cursor: pointer; }
  .filter-pills-container #CLEAR:active {
    background: #ce6d94;
    color: white; }
