.filter-pills-container {
  height: 100%;
  div.filter-helpers {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    div.btn {
      width: 100%;
    }
  }
  div.filter-pills {
    border: 1px solid #cccccc;
    width: 150px;
    float: left;
    margin: 2px;
    transition: .1s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}
  div.filter-pills:hover {
    cursor: pointer;
    background: #c6abcb;
  }
  div.filter-pills.active {
    background: #6d3474;
    color: white;
  }
  #CLEAR {
    width: 100%;
    background: #ff0065;
    color: white;
    padding: 4px 0px;
    border-radius: 3px;
    transition: .2s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
  #CLEAR:hover {
    cursor: pointer;
  }
  #CLEAR:active {
    background: #ce6d94;
    color: white;
  }
}
