.clothing-modal-container {
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: #00000033; }
  .clothing-modal-container .clothing-modal {
    display: flex;
    overflow-x: scroll;
    width: 100vw;
    background: #141414e6; }
    .clothing-modal-container .clothing-modal .clothe-card {
      flex: none;
      z-index: 1; }

#outfit-submit-cancel {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  #outfit-submit-cancel .row div {
    color: white;
    margin: 5px 0px; }
  #outfit-submit-cancel .row div:hover {
    cursor: pointer; }
  #outfit-submit-cancel .row div:first-child {
    background: #38cb38; }
  #outfit-submit-cancel .row div:last-child {
    background: #ff6767; }
