#main {
  background: white;
  margin: 0 auto;
  height: 100vh; }
  #main .row#clothe-outfit-selector div.active {
    background: black;
    color: white; }
  #main .row#clothe-outfit-selector div {
    text-align: center; }
  #main .row#clothe-outfit-selector div:hover {
    cursor: pointer; }
  #main h1 {
    text-align: center; }
  #main div.top-bar, #main div.menu {
    margin-bottom: 10px; }
  #main div.menu {
    margin-top: 15px; }
  #main div.top-bar {
    border-bottom: 5px solid black; }
  #main div.user-icon {
    text-align: right; }
  #main div.title {
    text-align: center; }
  #main div.main-content {
    margin: 20px 0px; }
    #main div.main-content .card-container {
      width: 100%; }
    #main div.main-content .clothe-card-overlay {
      z-index: 1;
      height: inherit;
      width: inherit;
      position: absolute;
      border-radius: inherit; }
    #main div.main-content .clothe-card-overlay:hover {
      background: #00000080; }
    #main div.main-content .clothe-card {
      border: 1px solid #c9c9c9;
      border-radius: 3px;
      padding: 10px;
      margin: 40px;
      height: 325px;
      width: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      float: left; }
      #main div.main-content .clothe-card img {
        max-height: 110%; }
    #main div.main-content .clothe-card:hover {
      cursor: pointer; }
    #main div.main-content .clothe-card:active {
      opacity: .5; }
    #main div.main-content .clothe-card.add {
      background: #f1f1f1; }
      #main div.main-content .clothe-card.add img {
        height: 40px; }
