#main {
  background: white;
  margin: 0 auto;
  height: 100vh;
  max-width: 1280px;
  h1 {
    text-align: center;
  }
  div.top-bar, div.menu  {
    margin-bottom: 10px;
  }
  div.menu { margin-top: 15px; }
  div.top-bar { border-bottom: 5px solid black; }
  div.user-icon {
    text-align: right;
  }
  div.title {
    text-align: center;
  }
  div.main-content {
    margin: 20px 0px;
    .card-container{ width: 100%; }
    .clothe-card-overlay {
      z-index: 1;
      height: inherit;
      width: inherit;
      position: absolute;
      border-radius: inherit;
    }
    .clothe-card-overlay:hover { background: #00000080; }
    .clothe-card {
      border: 1px solid;
      border-radius: 15px;
      padding: 10px;
      margin: 5px;
      height: 350px;
      width: 225px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      float: left;
      img {
        max-height: 110%;
      }
    }
    .clothe-card:hover { cursor: pointer; }
    .clothe-card:active { opacity: .5; }
    .clothe-card.add {
      background: #f1f1f1;
      img { height: 40px; }
    }
  }
}
